[submodule "frontstory"]
	path = frontstory
	url = https://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@github.com/Fitahiana-herizo-RAKOTOMAMPIONONA/Front-Histories.git
[submodule "story"]
	path = story
	url = https://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@github.com/Fitahiana-herizo-RAKOTOMAMPIONONA/Back-Histories.git
